.card {
    position: relative;
    display: flex;
    border: 2px solid #bababa;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;

    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 0.8s, border-color .8s;

    &_flip {
        transform: rotateY(0deg);
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 18px;

        backface-visibility: hidden;
    }

    &__back {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 100%;
        height: 100%;

        border-radius: 18px;
        transform: rotateY(180deg);
        background: linear-gradient(45deg, #1fa5ff 0%, #1053ff 100%) no-repeat;
        background-size: 100%;

        backface-visibility: hidden;
    }
}

